In [3]:
import numpy as np
import pandas as pd

In [4]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [24]:
# Write a Python program using Pandas to select the rows the score is between 15 and 20 (inclusive).

# Create csv using dict (?)

# Select rows

for key in exam_data:
  try:
    for i in exam_data[key]:
      if(i <= 20 and i >= 15):
        print(i)
  except(TypeError):
    continue;

16.5
20
19